# Database and DBMS

* ### A database is an organised collection of data. Database arrange information in such a way that any specific piece of information can be easily accessed.

* ### Database Management System is software to store, retrieve, define and manage data in a database.

# Types of Databases:

* ### Centralised Database - Data stored at a centralised location and the users from different locations can access this data. Example: Google, facebook etc.

* ### Distributed Database - Various portions of a database are stored in multiple different locations. It can be replicated and distributed among varous points in a network.

* ### Personal Database - Stored on personal computers which are small and easily manageable.

* ### Operational Database - Information related to operations of an enterprise is stored inside this database. Functional lines like marketing, employee relations, customer service etc.

* ### Relational Database - It represents data sets from multiple tables which are stored different types of information of any things. For example: Facebook Use -> Likes, Comments, Posts.

* ### Cloud Database - A cloud database has been built for such virtualized environment. There are various benefits of cloud databases, some of which are ability to pay for storage capacity and bandwidth (maximum data transfer rate of a network - Mbps) on a per user basis, and they provide scalability on demand, along with high avaialability.

# Design/Structure based database:

* ### SQL - Structure Query Language
* ### NoSQL - Document Based Database

## Difference between SQL and NoSQL
* ### SQL databases use Structure Query Language and have pre-defined schema while NoSQL have no schema.
* ### SQL databases are table based while NoSQL databases are document based data stores data in the form of key-value pair.

# Operations of Databases:
* ### Create 
* ### Retrieve
* ### Update
* ### Delete

# CRUD Queries:
* ### Create Database - create database database_name;
* ### Select Database - use database_name;
* ### Create Table - create table table_name (field_name data_type(size), ..);
* ### Insert Record - insert into table_name (field_name, ...) values (field_value, ...);
* ### Update Record - update table_name set field_name = field_value where condition;
* ### Delete Record - delete from table_name where condition;
* ### Drop Database - drop database database_name;

# Table Operations:
* ### Add New Field - alter table table_name add new_field_name data_type;
* ### Delete Field - alter table table_name drop column field_name;
* ### Modify Field:
> ### 1. SQL Server - alter table table_name alter column field_name data_type;
> ### 2. MySQL - alter table table_name modify column field_name data_type;
> ### 3. Oracle 10G/later - alter table table_name modify field_name data_type;

# Other Basic Queries:
* ### Show all databases - show databases;
* ### Select database - use database_name;
* ### Show all tables - show tables;
* ### Show table structure - describe table_name;

# Pre-requesite for Database with python
> ### PyMySQL or mysql-client
> ### 1. mysql-client - pip install mysql-client
> ### 2. pymysql - pip install pymysql
> ### Note: PIP means - package installer for Python.

# Some configurations for mysql
> ### host - localhost
> ### user - root
> ### port - 3306

# Components of Database System
> ### Users- People who interact with the database:
> * ### Application Programmers.
> * ### End Users.
> * ### Data Administrators.

> ### Software- Lies between the stored data and the users:
> * ### DBMS
> * ### Application Software
> * ### User Interface

                              Users
                               ||
                               ||
                    ___________||___________
                   |                        |
### Data ------------| COMPONENTS OF DATABASE |-----------| Software
                   |___________  ___________|
                               ||
                               ||
                               ||
                            Hardware


## Follow the steps to use SQLite3 database:
- ### import sqlite3 as mydb
- ### db = mydb.connect("database_name.db")
- ### cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"
- ### cursor = db.cursor()
- ### cursor.execute(cmd)

## Follow the steps to use MySQL database:
- ### import pymysql as sql
- ### db = sql.connect(host='localhost', port=3306, user='root', password='', database='data')
- ### c = db.cursor()
- ### cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"
- ### c.execute(cmd)
- ### db.commit()

### Note: A Local Server called MySQL server is required to connect MySQL. Here, we can use XAMPP Server or MySQL Workbench.

# Some Meanings about DB
## What is Cursor()?
> ### A database cursor is a control structure that enables traversal over the records in a database. Cursors facilitate subsequent processing in conjunction with the traversal, such as retrieval, addition and removal of database records.

## What is execute()?
> ### Executes a command string or character string within a Transact-SQL batch, or one of the following modules: system stored procedure, user-defined stored procedure, CLR stored procedure, scalar-valued user-defined function, or extended stored procedure.

## What is Commit()?
> ### A commit is the updating of a record in a database. In the context of a database transaction, a commit refers to the saving of data permanently after a set of tentative changes. A commit ends a transaction within a relational database and allows all other users to see the changes.

In [1]:
# SQLite3

import sqlite3 as sql

In [2]:
print(dir(sql))

['Binary', 'Connection', 'Cursor', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'OptimizedUnicode', 'PARSE_COLNAMES', 'PARSE_DECLTYPES', 'PrepareProtocol', 'ProgrammingError', 'Row', 'SQLITE_ALTER_TABLE', 'SQLITE_ANALYZE', 'SQLITE_ATTACH', 'SQLITE_CREATE_INDEX', 'SQLITE_CREATE_TABLE', 'SQLITE_CREATE_TEMP_INDEX', 'SQLITE_CREATE_TEMP_TABLE', 'SQLITE_CREATE_TEMP_TRIGGER', 'SQLITE_CREATE_TEMP_VIEW', 'SQLITE_CREATE_TRIGGER', 'SQLITE_CREATE_VIEW', 'SQLITE_CREATE_VTABLE', 'SQLITE_DELETE', 'SQLITE_DENY', 'SQLITE_DETACH', 'SQLITE_DONE', 'SQLITE_DROP_INDEX', 'SQLITE_DROP_TABLE', 'SQLITE_DROP_TEMP_INDEX', 'SQLITE_DROP_TEMP_TABLE', 'SQLITE_DROP_TEMP_TRIGGER', 'SQLITE_DROP_TEMP_VIEW', 'SQLITE_DROP_TRIGGER', 'SQLITE_DROP_VIEW', 'SQLITE_DROP_VTABLE', 'SQLITE_FUNCTION', 'SQLITE_IGNORE', 'SQLITE_INSERT', 'SQLITE_OK', 'SQLITE_PRAGMA', 'SQLITE_READ', 'SQLITE_RECURSIVE', 'SQLITE_REINDEX', 'SQLITE_SAVEPOINT', 'SQLITE_SELECT', 'SQLITE_TRANSACTION', 'SQLITE_UPDATE', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'Warning', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'adapt', 'adapters', 'apilevel', 'collections', 'complete_statement', 'connect', 'converters', 'datetime', 'dbapi2', 'enable_callback_tracebacks', 'enable_shared_cache', 'paramstyle', 'register_adapter', 'register_converter', 'sqlite_version', 'sqlite_version_info', 'threadsafety', 'time', 'version', 'version_info']

In [3]:
# connect

db = sql.connect("python_sqlite.db")

In [4]:
dir(db)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'backup',
 'blobopen',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'create_window_function',
 'cursor',
 'deserialize',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'getlimit',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'serialize',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'setlimit',
 'text_factory',
 'total_changes']

In [4]:
# cursor

db_cursor = db.cursor()

In [5]:
# execute

cmd = 'create table users(id int, name varchar(25), city varchar(25));'

In [7]:
db_cursor.execute(cmd)

In [8]:
# add new record

db_cursor.execute('insert into users(id, name, city) values(1, "shivam","ahmedabad");')

In [9]:
# commit to save

db.commit()

In [10]:
data = {
    'id': 2,
    'name': 'kush',
    'city': 'surat'
}

In [11]:
# make query from data dict

cmd = f'insert into table_name({data.keys()}) values({data.values()});'

In [12]:
cmd

"insert into table_name(dict_keys(['id', 'name', 'city'])) values(dict_values([2, 'kush', 'surat']));"

In [13]:
cmd = f'insert into table_name{tuple(data.keys())} values{tuple(data.values())};'

In [14]:
cmd

"insert into table_name('id', 'name', 'city') values(2, 'kush', 'surat');"

In [15]:
db_cursor.execute(cmd)

OperationalError: no such table: table_name

In [16]:
cmd = f'insert into users{tuple(data.keys())} values{tuple(data.values())};'

In [17]:
db_cursor.execute(cmd)

In [18]:
db.commit()

In [5]:
# retriev data from database

cmd = 'select * from users'
db_cursor.execute(cmd)

In [6]:
db_cursor.fetchall()

[(1, 'shivam', 'ahmedabad'), (2, 'kush', 'surat')]

In [9]:
# data

data = [
    {
        'name': 'kosha',
        'city': 'rajkot',
    },
    {
        'name': 'prarthna',
        'city': 'ahmedabad',
    },
    {
        'name': 'priyanka',
        'city': 'baroda',
    },
    {
        'name': 'kapil',
        'city': 'ajmer',
    }
]

In [10]:
# creating queries

for d in data:
    print(d)

{'name': 'kosha', 'city': 'rajkot'}
{'name': 'prarthna', 'city': 'ahmedabad'}
{'name': 'priyanka', 'city': 'baroda'}
{'name': 'kapil', 'city': 'ajmer'}

In [14]:
for d in data:
    for k,v in d.items():
        print(k,v)

name kosha
city rajkot
name prarthna
city ahmedabad
name priyanka
city baroda
name kapil
city ajmer

In [16]:
db_cursor.execute('select * from users')
last_id = db_cursor.fetchall()[-1][0]

In [17]:
last_id

2

In [15]:
for d in data:
    cmd = f'insert into users{tuple(d.keys())} values{tuple(d.values())}'
    print(cmd)

insert into users('name', 'city') values('kosha', 'rajkot')
insert into users('name', 'city') values('prarthna', 'ahmedabad')
insert into users('name', 'city') values('priyanka', 'baroda')
insert into users('name', 'city') values('kapil', 'ajmer')

In [23]:
db_cursor.execute('select * from users')
last_id = db_cursor.fetchall()[-1][0]
new_id = last_id + 1

for d in data:
    d['id'] = new_id
    cmd = f'insert into users{tuple(d.keys())} values{tuple(d.values())}'
    db_cursor.execute(cmd)
    db.commit()
    print(cmd)
    new_id += 1

insert into users('name', 'city', 'id') values('kosha', 'rajkot', 3)
insert into users('name', 'city', 'id') values('prarthna', 'ahmedabad', 4)
insert into users('name', 'city', 'id') values('priyanka', 'baroda', 5)
insert into users('name', 'city', 'id') values('kapil', 'ajmer', 6)

In [24]:
# update record

cmd = 'update users set city = "Ajmer, Rajasthan" where id = 6'

db_cursor.execute(cmd)
db.commit()

In [ ]:
# insert record function
# create_table(tbl_name, )
# insert_record(tbl_name, **fields)
# update_record(tbl_name, fld_name, new_val, {id:val}) - update tbl_name set fld_name = new_val where id = val
# delete_record(tbl_name, fld_name, condition)